
{% load static %}


<!DOCTYPE html>
<html>
<title>KNN</title>
<meta charset="UTF-8">
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body class="w3-black">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->

  <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="fa fa-home w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a href="home" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-user w3-xxlarge"></i>
    <p>BACK</p>
  </a>

  <a href="login" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="fa fa-envelope w3-xxlarge"></i>
        <p>lOGOUT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">PHOTOS</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small">Vehicle </span> Details Found From Database</h1>
    <p>Vehicle Re-identifiation on Couppled Dictionary Learning</p>
    <img src="{% static 'RTO/444.jpg' %}" alt="boy" class="w3-image" width="992" height="1108">
  </header>

  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
   <h3>Welcome RTO-Crime Department </h3>

<div class="container">
  <h2>The Final Information</h2>
  <p>Department of karnataka </p>
  <style>
    p{
  color:blue;

  }

  </style>

    <div  style="width:1000px;" class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
      <form class="form-group" action=" {% url 'upadateCrime' %}" method="post">
{% csrf_token %}
        <span class="w3-xlarge"><input type="text"  name="id" value="{{vehicledetails.id}}" class="form-control" readonly></span>
        <p style="color:blue;"> ID</p>

<br>
        <span class="w3-xlarge"><input type="text"  name="regno" value="{{vehicledetails.regno}}" class="form-control" readonly></span>
        <p >Regno</p>

<br>


        <span class="w3-xlarge"><input type="text"  name="carbrand" value="{{vehicledetails.carbrand}}" class="form-control" readonly></span>
        <p>Carbarnd</p>

<br>
              <span class="w3-xlarge"><input type="text" class="form-control"   name="owner" value="{{vehicledetails.Ownername}}" readonly></span>
        <p>    Ownername</p>

<br>

        <span class="w3-xlarge"><input type="text"  name="licence"  class="form-control" value="{{vehicledetails.Licence}}" readonly></span>
        Licence

      <br>

        <span class="w3-xlarge"><input class="form-control"  type="text"  name="address"  value=" {{vehicledetails.Address}}" readonly></span>
        Address

<br>

        <span class="w3-xlarge"><input type="text"  class="form-control"  name="email"  value="{{vehicledetails.Email}}" readonly></span>
        Email

<br>


        <span class="w3-xlarge"><input class="form-control"  type="text"  name="a_address"></span>
     <b>   Accident_Address*</b>

<br>

        <span class="w3-xlarge"><input class="form-control"  type="date"  name="date"  ></span>
         <b>Date*</b>

<br>

        <span class="w3-xlarge"><input  class="form-control"  type="time"  name="time" ></span>
         <b>Time*</b>

<br>

        <span class="w3-xlarge"><input class="form-control"  type="text"  name="incident"  ></span>
         <b>Incident*</b>


<br>

  <input type="submit"  style="color:red;" class="btn-primary"  value="Update_Crime">
  </form>




    <!-- End Grid/Pricing tables -->
    </div>

    <!-- Testimonials -->

  <!-- End About Section -->
  </div>

  <!-- Portfolio Section -->

  <!-- End Portfolio Section -->


  <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
    <h2 class="w3-text-light-grey"></h2>
    <hr style="width:200px" class="w3-opacity">





    <!-- Footer -->
  <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>

  </footer>

<!-- END PAGE CONTENT -->
</div>

</body>
</html>












                 <!-- Form contact -->






















